dist
cabal-dev
logs_*
*.out
*.o
*.hi
*.hcr
*.chi
*.chs.h
*.pyc
.DS_Store
bin/*
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
.*.sw[a-z]
*.un~
Session.vim
.*
!.gitignore
*~
.directory
Skynet
*.html
*.stream
*.replay
MyBot
